{{ if eq .Ordinal 0 }}
<div class="image-first">
<img src="https://wsrv.nl/?url={{ .Destination | safeURL }}&output=webp&maxage=1d&w=200&h=300&fit=cover&a=attention" alt="{{ $.Page.Title }}" crossorigin="anonymous"/>
</div>
{{ end}}
    <div class="swiper-container">
        <div class="swiper-wrapper">
{{ if .Ordinal }}
<img data-src="https://wsrv.nl/?url={{ .Destination | safeURL }}&output=webp&maxage=1d" alt="{{ $.Page.Title }}" class="swiper-slide"/>
<a href='#translate'>Translate</a>
{{ end}}
</div></div>
