@keyframes slideAnimationBack {
  0% {
    transform: translateX(-70vw);
  }
  
  100% {
    transform: none;
  }
}

@keyframes slideAnimation {
  0% {
    transform: translateX(70vw);
  }
  
  100% {
    transform: none;
  }
}

.hidden {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.visible {
  opacity: 1;
    transition: opacity 0.3s ease;
}


.selected-image {
  border: 2px solid blue;
}

.thumbnails-container {
  display: none;
  background-color: #000000a8;
  bottom: 0;
  position: absolute;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  font-size: 0;
}

.thumbnails-container.draggable {
  cursor: grab;
}

.thumbnails-container.dragging {
  cursor: grabbing;
}

.thumbnails-container img {
    width: 50px;
    display: inline-block;
    height: 50px;
        padding: 7px;
}

button {
  background-color: #ccc;
  color: #000;
}

button.active {
  background-color: #ff0000;
  color: #fff;
}



#lightbox-info {
     position: absolute;
    top: 15px;
    right: 50%;
    line-height: 44px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
      z-index: 2;
  padding: 15px;
}
#resetButton {
       position: relative;
    margin: 10px;
}

#image-counter {
    color: #ccc;
    font-size: 13px;
    -webkit-font-smoothing: subpixel-antialiased;
    height: 44px;
    line-height: 44px;
    min-width: 44px;
    mix-blend-mode: difference;
    padding: 0 10px;
    pointer-events: none;
    user-select: none;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}


#lightbox-img {
position: relative;
    max-height: 90vh;
    max-width: 90vw;
    display: block;
    margin: auto;
}

.prev,
.next {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.prev {
  left: 0px;
}

.next {
  right: 0px;
}
.lightbox-content {
 
    display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery img {
  width: 200px;
  height: 150px;
  object-fit: cover;
  cursor: pointer;
  margin: 5px;
}

#lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.hidden {
  display: none!important;
}

/* Styles for the previous and next slide buttons */
.prev {
    position: absolute;
    border: none;
    height: 100%;
    width: 10%;
    transition: opacity 0.25s ease-in-out;
    opacity: 0;
    background: linear-gradient(90deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 100%);
}

.next {
 position: absolute;
    border: none;
    height: 100%;
    width: 10%;
    transition: opacity 0.25s ease-in-out;
    opacity: 0;
   background: linear-gradient(270deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 100%);
}

.prev:hover,
.next:hover {
opacity: 1;
      transition: opacity 0.25s ease-in-out;
}

.lightbox-open {
  padding-right: 17px; 
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  animation: spinner 0.8s linear infinite;
}

@keyframes spinner {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
