.pagination-list {
      align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}
.pagination-previous[disabled], .pagination-next[disabled], .pagination-link[disabled] {
    background-color: #dbdbdb;
    border-color: #dbdbdb;
    box-shadow: none;
    color: #7a7a7a;
    opacity: .5;
}
.pagination-link.is-current {
border-color: #404246!important;
    border-color: #3273dc;
    color: #fff;
}
.pagination-previous, .pagination-next, .pagination-link {
border-color: #404246!important;
    color: #000;
    min-width: 2.5em;
    background-color: #fff;
}
.pagination-previous, .pagination-next, .pagination-link, .pagination-ellipsis {
    font-size: 1em;
    justify-content: center;
    margin: 0.25rem;
}
.pagination-previous, .pagination-next, .pagination-link, .pagination-ellipsis, .button, .input, .textarea, .select select, .file-cta, .file-name {
    -moz-appearance: none;
    -webkit-appearance: none;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: none;
    display: inline-flex;
    height: 2.5em;
    line-height: 1.5;
    vertical-align: top;
}
a {
    color: #3273dc;
    cursor: pointer;
    text-decoration: none;
}
.pagination-previous[disabled], .pagination-next[disabled], .pagination-link[disabled] {
    background-color: #dbdbdb;
    border-color: #dbdbdb;
    box-shadow: none;
    color: #7a7a7a;
    opacity: .5;
        cursor: not-allowed;
        pointer-events: none;
}
