html{overflow-y:scroll;
font-family: system-ui,-apple-system,BlinkMacSystemFont,segoe ui,Roboto,Ubuntu,helvetica neue,sans-serif;
    font-size: 15px;
    color: #fff;
    line-height: 1.625;
}
.post-title {
    color: #fff!important;
    text-shadow: -1px -1px 5px #2a8dc6, 1px -1px 0 #2a8dc6, -1px 1px 0 #2a8dc6, 1px 1px 0 #2a8dc6;
    font-size: 40px;
    font-weight: 600;
}
.post-title:hover {
    text-shadow: #17a6f9 1px 0 10px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}
.max-800px {
    max-width: 800px;
}

.image-post img {
background: linear-gradient(to bottom,rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.15) 30%,rgba(0,0,0,0.15) 70%,rgba(0,0,0,0.5) 100%);
}
.image-post img:nth-child(1) {
    height: auto;
    border-radius: 4px;
    display: flex;
    margin: 5px auto;
    box-shadow: 0 0 15px #000;
}
	
.image-post img {
	animation: fadein .3s both
}

@keyframes fadein {
	0% {
		opacity: 0
	}
	
	30% {opacity: 0.3}
	70% {opacity: 0.7}
		

	100% {
		opacity: 1
	}
}

ul,
li {
	list-style-type: none
}

   body {
    background-attachment: fixed;
    background-size: cover;
    background-position: center 25%;
    }
