html{overflow-y:scroll;
font-family: system-ui,-apple-system,BlinkMacSystemFont,segoe ui,Roboto,Ubuntu,helvetica neue,sans-serif;
    font-size: 15px;
    color: #fff;
    line-height: 1.625;
	background-color: #1f1e23;
} 
:root {
    --banner-overlay-gradient: linear-gradient(to bottom,var(--md-background-translucent) 0%,var(--md-background) 100%);
    --md-background: #fff;
    --md-background-translucent: hsla(0,0%,100%,.6);
}

* {
    margin: 0;
    padding: 0;
}

main {
    flex: 1;
}

ul,
li {
	list-style-type: none
}

img {
	    transition: transform .3s ease-in-out;
}

.container {
	max-width: 740px;
    margin: 0 auto;
    padding: 0;
}

.post-title a:hover {
    text-shadow: #17a6f9 1px 0 10px;
	transition: 0.3s ease;
}

.image-post img,.image-first img  {
background: linear-gradient(to bottom,rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.15) 30%,rgba(0,0,0,0.15) 70%,rgba(0,0,0,0.5) 100%);
}
.image-first img {
    height: auto;
    max-width: 90%;
    border-radius: 4px;
    display: flex;
    margin: 5px auto;
    box-shadow: 0 0 15px #000;
}
	
.image-post img,.image-first img  {
	animation: fadein .3s both
}

@keyframes fadein {
	0% {
		opacity: 0
	}
	
	30% {opacity: 0.3}
	70% {opacity: 0.7}
		

	100% {
		opacity: 1
	}
}
	
.pagefind-ui__result.svelte-j9e30.svelte-j9e30
{
background-color: #fff;
}

#image-pre img {
width: 72px;

}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
visibility: hidden;
    width: 120px;
    color: #fff;
    text-align: center;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -65px;
    opacity: 0;
    transition: opacity 0.3s;
    background-color: #333;
    border-radius: 4px;
    font-size: 14px;
}
.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}


   .column is-half {
        height: 300px;
    width: 200px;
    display: inline-block;
    text-decoration: none;
    float: left;
    margin: 0 5px 10px;
    padding: 0 0!important;
    max-height: 560px;
    position: relative;
    transition: all 0.3s;
    background-color: #2a2c31;
    box-shadow: 0 2px 6px 0 #00000080;
    }
    a.title is-4 {
        font-size: 14px;
    font-weight: 400;
    position: absolute;
    bottom: 0px;
    color: #fff;
    width: 93%;
    background: linear-gradient(180deg,transparent,rgba(0,0,0,.8));
    text-shadow: 0 0 3px #000;
    line-height: 1.3;
    padding: 0.5rem;
    }
    .image is-3by2 a{
        border-radius: 12px;
    }



 @media only screen and (min-width:320px) and (max-width:479px)
  {
	  .container {
    padding: 0 10px;
	  }
	  .cover {  background-size: contain;}
}
