html{overflow-y:scroll;
font-family: system-ui,-apple-system,BlinkMacSystemFont,segoe ui,Roboto,Ubuntu,helvetica neue,sans-serif;
    font-size: 15px;
    color: #fff;
    line-height: 1.625;
	background-color: #1f1e23;
} 
* {
    margin: 0;
    padding: 0;
}
main {
    flex: 1;
}
ul,
li {
	list-style-type: none
}
img {
	    transition: transform .3s ease-in-out;
}
.container {
	max-width: 740px;
    margin: 0 auto;
    padding: 0;
}
.post-title a:hover {
    text-shadow: #17a6f9 1px 0 10px;
	transition: 0.3s ease;
}
.image-post img,.image-first img  {
background: linear-gradient(to bottom,rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.15) 30%,rgba(0,0,0,0.15) 70%,rgba(0,0,0,0.5) 100%);
}
.image-first img {
    height: auto;
    max-width: 90%;
    border-radius: 4px;
    display: flex;
    margin: 5px auto;
    box-shadow: 0 0 15px #000;
}
	
.image-post img,.image-first img  {
	animation: fadein .3s both
}
@keyframes fadein {
	0% {
		opacity: 0
	}
	
	30% {opacity: 0.3}
	70% {opacity: 0.7}
		
	100% {
		opacity: 1
	}
}
	
.pagefind-ui__result.svelte-j9e30.svelte-j9e30
{
background-color: #fff;
}
#image-pre img {
width: 72px;
}
.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext {
visibility: hidden;
    width: 120px;
    color: #fff;
    text-align: center;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -65px;
    opacity: 0;
    transition: opacity 0.3s;
    background-color: #333;
    border-radius: 4px;
    font-size: 14px;
}
.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.tooltip-card {
      display: inline-block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
}
.tooltip-card .tooltiptext {
visibility: hidden;
    width: 170px;
    color: #fff;
    padding: 10px;
    position: absolute;
    z-index: 1;
    bottom: 50%;
    left: 50%;
    margin-left: -96px;
    opacity: 0;
    transition: opacity 0.3s;
    background-color: #333;
    border-radius: 4px;
    font-size: 13px;
}
.tooltip-card .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}
.tooltip-card:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
   .column.is-half {
    height: 300px;
    width: 200px;
    display: inline-block;
    margin: 5px;
    position: relative;
    transition: all 0.3s;
	   background: linear-gradient(to bottom,rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.15) 30%,rgba(0,0,0,0.15) 70%,rgba(0,0,0,0.5) 100%);
    }
.card-content {
    position: absolute;
    text-shadow: 0 0 6px #000;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(6, 6, 6, 0.45) 40%, rgba(0, 0, 0, 0.7) 100%);
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
	width: 100%;
}
    a.title.is-4 {
       position: relative;
    padding: 8px 10px 4px;
    bottom: 0px;
    font-size: 13px !important;
    color: #fff;
    display: inline-block;
    margin-bottom: 3px;
	    width: 90%;
    }
    .card-image img {
    border-radius: 6px;
    box-shadow: 0 2px 6px 0 #00000080; 
}

.categories .category {
	display: inline-block;
    float: left;
    border-radius: 5px;
    color: white;
    font-size: 12px;
    padding: 0 5px;
    background: #005b9f;
    position: absolute;
    margin: 5px;
    top: 0;
}

  a[href*=&quot;/categories/blogging/&quot;] {
    height: 16px;
    content: url(&quot;data:image/svg+xml,%3Csvg viewBox=&#39;0 0 16 16&#39; xmlns=&#39;http://www.w3.org/2000/svg&#39;%3E%3Cg fill=&#39;%23839e2e&#39;%3E%3Cpath d=&#39;m11.443 3.32 1.075-1.986c.07-.132.045-.233-.076-.303-.131-.062-.232-.03-.303.09l-1.09 2.003a7.429 7.429 0 0 0-3.042-.638c-1.07 0-2.083.213-3.042.638L3.875 1.12c-.07-.12-.171-.151-.302-.09-.121.07-.147.171-.076.303L4.572 3.32a6.64 6.64 0 0 0-2.603 2.328 5.889 5.889 0 0 0-.97 3.269h14a5.89 5.89 0 0 0-.968-3.269 6.67 6.67 0 0 0-2.588-2.328zM5.23 6.21a.567.567 0 0 1-.416.174.541.541 0 0 1-.409-.175.582.582 0 0 1-.166-.417c0-.161.055-.3.166-.416a.543.543 0 0 1 .409-.175c.16 0 .3.058.416.175a.57.57 0 0 1 .174.416c0 .162-.058.301-.174.417zm6.38 0a.542.542 0 0 1-.41.174.566.566 0 0 1-.416-.175.568.568 0 0 1-.174-.417c0-.161.058-.3.174-.416a.568.568 0 0 1 .417-.175c.161 0 .297.058.408.175a.583.583 0 0 1 .167.416c0 .162-.056.301-.167.417zM1 15h14V9.463H1z&#39;/%3E%3C/g%3E%3C/svg%3E&quot;);
    background: #e95e01;
    color: #fff;
}


 @media only screen and (min-width:320px) and (max-width:479px)
  {
	  .container {
    padding: 0 10px;
	  }
	  .cover {  background-size: contain;}
}
