{{ define "main" }}
<section class="section">
  <article>      
    <div class="content">
  <div class="PC">
A personal computer is a multi-purpose microcomputer whose size, capabilities, and price make it feasible for individual use. Personal computers are intended to be operated directly by an end user, rather than by a computer expert or technician. 
                 </div>
       </div>
</section>
<section class="section">

 <script defer src="/js/posts.js"></script>
   <script defer src="/js/test.js"></script>
</section>
{{ end }}
