<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    {{- partial "head.html" . -}}
    <body>
        {{- partialCached "header.html" . -}}
                       <div id="search"></div>
        <main>
        {{- block "main" . }}{{- end }}
        </main>
        {{ partialCached "footer.html" . }}
         <div id="content-front">
                 <span class="close-pv">X</span>
 <span id="content-front-text">     
        </span>
   </div>

        <div id="lightbox" class="hidden">
  <span class="close" onclick="closeLightbox()">&times;</span>
          <div id="image-info">
                                      <div id="image-counter">
            <span id="opened-image-counter"></span> / <span id="total-image-counter"></span> </div>   
<div id="lightbox-info">
  <button id="openSliderButton" onclick="toggleSlider()">Open Slider</button>
    <button onclick="fullimage()">Click Me</button>
    <button id="fullimagebtn" >Full Size Image</button>
          <button id="pixelatedButton" onclick="togglePixelated()">Toggle Pixelated</button>
              <button id="saturatedButton" onclick="toggleSaturated()">Toggle Saturation</button>
</div>  
              <div id="sliderContainer" class="hidden">
    <input type="range" id="scaleSlider" min="2" max="11" step="1" value="5" onchange="updateScale(this.value)">
    <label for="scaleSlider" id="scaleLabel">1.0</label>
    <button id="resetButton" onclick="resetScale()">Reset</button>
  </div>
            <button class="prev" onclick="prevSlide()">&#8249;</button>
  <button class="next" onclick="nextSlide()">&#8250;</button>
             <div class="lightbox-content">
  <img src="" alt="Lightbox Image" id="lightbox-img">
                     <p id="loading-text" class="spinner"></p>
             </div>       
</div>
           <div class="thumbnails-container">
</div>
        </div>
        
        <div class="link-pre"></div>
    </body>  
</html>
