<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    {{- partial "head.html" . -}}
    <body>
        {{- partialCached "header.html" . -}}
                       <div id="search"></div>
        <main>
        {{- block "main" . }}{{- end }}
        </main>
        {{ partialCached "footer.html" . }}
         <div id="content-front">
                 <span class="close-pv">X</span>
 <span id="content-front-text">     
        </span>
   </div>

        <div id="lightbox" class="hidden">
  <span class="close" onclick="closeLightbox()">&times;</span>
          <div id="image-info">
                                      <div id="image-counter">
            <span id="opened-image-counter"></span> / <span id="total-image-counter"></span> </div>
            <button class="prev" onclick="prevSlide()">&#8249;</button>
  <button class="next" onclick="nextSlide()">&#8250;</button>
             <div class="lightbox-content">
  <img src="" alt="Lightbox Image" id="lightbox-img">
                     <p id="loading-text" class="spinner"></p>
 <div id="loading-bar-container">
      <div id="loading-bar"></div>
      <div id="loading-progress"></div>
    </div>                 </div>
</div>
        
        <div class="link-pre"></div>
    </body>  
</html>
