<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    {{- partial "head.html" . -}}
    <body>
        {{- partialCached "header.html" . -}}
                       <div id="search"></div>
        <main>
        {{- block "main" . }}{{- end }}
        </main>
        {{ partialCached "footer.html" . }}
         <div id="content-front">
                 <span class="close-pv">X</span>
 <span id="content-front-text">     
        </span>
   </div>
                       <div id="lightbox" class="hidden">
    <img src="" alt="Lightbox Image" id="lightbox-img">
    <span class="close" onclick="closeLightbox()">&times;</span>
                    <button class="prev" onclick="prevSlide()">Previous</button>
  <button class="next" onclick="nextSlide()">Next</button>
  </div>
        <div class="link-pre"></div>
    </body>  
</html>
