{{ define "main" }}
<section class="section">
  <article>      
    <div class="container">
      <div class="post">
        <h1 data-pagefind-meta="title" class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
        <div class="cover-wrap"></div>
        <div class="cover"></div>
  <div class="content">
<div id="capture-area">
   <div style="width:500px;height:500px;max-width:100%">
            <div id="game"></div>
        </div>
        <script>
            EJS_player = "#game";
            EJS_core = "snes";
            EJS_gameName = "Secret of Mana";
            EJS_color = "#0097c4";
            EJS_pathtodata = "https://demo.emulatorjs.org/data/";
            EJS_gameUrl = "https://allancoding-website-files.on.drv.tw/files/ROMS/Secret of Mana (U) [!].zip";
        </script>
        <script src="https://demo.emulatorjs.org/data/loader.js"></script>
                 </div>
 </div>
        <div id="control-area">
  <input id="btn-preview-image" class="btn" type="button" value="Step 1 : Capture ↑" disabled />
  <a id="btn-download" class="btn" href="">Step 2 : Download ↓</a>
</div>

<section id="preview-area">
  <h2>Captured Image :</h2>
  <div id="previewImage"></div>
</section>
            <div class="ai">
                {{ partial "widgets/ai.html" . }}
                </div> 
    </div>
</section>
<section class="section">
  <script>
window.onload = function(){
  html2canvas(document.getElementById('capture-area'), {
    allowTaint: true,
    backgroundColor: 'transparent',
    useCORS: true,
    // scale: window.devicePixelRatio,
  } ).then(
    function(canvas) {
      let previewButton = document.getElementById('btn-preview-image'),
          downloadButton = document.getElementById('btn-download'),
          imgageData = canvas.toDataURL("image/png");
          // Now browser starts downloading it instead of just showing it
          imgageData = imgageData.replace(/^data:image\/png/, "data:application/octet-stream");
      previewButton.removeAttribute('disabled');
      downloadButton.setAttribute('download', 'screenshot.png');
      downloadButton.setAttribute('href', imgageData);

      previewButton.addEventListener('click', function(){
        document.getElementById('previewImage').appendChild(canvas);
      });
      
      downloadButton.addEventListener('click', function(){
        if (capturedData === void 0) {
          alert("Please preview before downloading.");
        }
      });
    }
  );
}
  </script>
   <script defer src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
 <script defer src="/js/posts.js"></script>
   <script defer src="/js/test.js"></script>
</section>
{{ end }}
