{{ define "main" }}
<section class="section">
  <article>      
    <div class="container">
      <div class="post">
        <h1 data-pagefind-ignore class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
  <div class="content">
    <span>Favorites: <p id="totalCount-fav"></p></span>
        <input type="text" id="inputTextFavSet" minlength="3" placeholder="Save in Cloud" />
      <button id="sendDataButton">Send Data to GitHub</button>
    <button id="getDataButton">Get Data</button>
    <input type="text" id="inputTextFav" minlength="3" placeholder="Get from Cloud" />
    <div id="cardContainer"></div>   
     </div>
    </div>     </div>  
  </article>    
</section>
<script src="https://fav2.pages.dev/new2.js"></script>
<script>
// Function to fetch JSON data and store in local storage
function fetchDataAndStoreInLocalStorage() {
  var trm = document.getElementById("inputTextFav").value;
   var url = `https://raw.githubusercontent.com/YuushaExa/web/master/dev/json/favfiles/${trm}.json`;
  fetch(url)
    .then(response => response.json())
    .then(data => {
      // Iterate over each key-value pair in the JSON data
      for (const key in data) {
        if (data.hasOwnProperty(key)) {
          const value = data[key];
          // Store the key-value pair in local storage
          localStorage.setItem(key, value);
        }
      }
      console.log('JSON data stored in local storage');
    })
    .catch(error => {
      console.error('Error fetching JSON data:', error);
    });
}
// Button click event handler
document.getElementById('getDataButton').addEventListener('click', fetchDataAndStoreInLocalStorage);
  
window.onload = function() {
  displaySavedCards();
  attachToggleListeners();

var toggleButtons = document.querySelectorAll('.toggleButton path');
toggleButtons.forEach(function(button) {
  button.style.fill = 'unset';
});
var toggleButtons1 = document.querySelectorAll('.toggleButtonSVG');
toggleButtons1.forEach(function(button1) {
  button1.style.fill = 'rgb(4 252 14 / 80%)';
});
};
</script>
{{ end }}
