{{ define "main" }}
<section class="section">
  <article>      
    <div class="container">
      <div class="post">
        <h1 data-pagefind-meta="title" class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
  <div class="content">
    <div id="cardContainer"></div>
        <script>
// Function to retrieve and display the saved cards
function displaySavedCards() {
  const cardContainer = document.getElementById('cardContainer');
  cardContainer.innerHTML = ''; // Clear the container before populating it again
  // Loop through the local storage items
  for (let i = 0; i < localStorage.length; i++) {
    const title = localStorage.key(i); // Get the title (key) of the stored card
    const content = localStorage.getItem(title); // Get the content (value) of the stored card
    // Create a new card element
    const card = document.createElement('div');
    card.classList.add('card');
    card.innerHTML = content;

    // Append the card to the container
    cardContainer.appendChild(card);
  }
}
// Call the function to display the saved cards when the page loads
displaySavedCards();
        </script>
     </div>
    </div>     </div>  
  </article>    
</section>
{{ end }}











