{{ define "main" }}
<section class="section">
  <article>      
    <div class="container">
      <div class="post">
        <h1 data-pagefind-ignore class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
  <div class="content">
        <div class="columns is-multiline">
 <div id="history"></div></div>
    <script>
document.addEventListener('DOMContentLoaded', function() {
  var historyContainer = document.getElementById('history');

  // Retrieve previously stored data from local storage
  var storedData = localStorage.getItem('History');

  if (storedData) {
    var cardData = JSON.parse(storedData);

    cardData.forEach(function(data) {
      var card = document.createElement('div');
      card.classList.add('card');

      var cardImageLink = document.createElement('a');
      cardImageLink.classList.add('card-image');
      cardImageLink.href = data.href;

      var cardImage = document.createElement('img');
      var wrappedImageURL = 'https://wsrv.nl/?url=' + encodeURIComponent(data.image) + '&output=webp&maxage=1d&w=200&h=300&fit=cover&a=attention';
      cardImage.src = wrappedImageURL;
      cardImage.alt = '';
      cardImage.crossOrigin = 'anonymous';
      cardImage.classList.add('lazyload');
      cardImage.setAttribute('data-src', data.image);

      cardImageLink.appendChild(cardImage);
      card.appendChild(cardImageLink);

      var cardContent = document.createElement('div');
      cardContent.classList.add('card-content');

      var titleLink = document.createElement('a');
      titleLink.classList.add('title', 'is-4');
      titleLink.textContent = data.title;

      cardContent.appendChild(titleLink);
      card.appendChild(cardContent);

      historyContainer.appendChild(card);
    });
  }
});
    </script>
     </div>
    </div>     </div>  
  </article>    
</section>
{{ end }}
