{{ define "main" }}
<section class="section">
  <article>      
    <div class="container">
      <div class="post">
        <h1 data-pagefind-ignore class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
  <div class="content">
    Register ID
   <input type="text" id="Login" placeholder="Enter your login">
  <button onclick="Register()">Register</button>
  </br>
    Your ID
    <input type="text" id="password" placeholder="Your ID" readonly="readonly"/>
    </div>    
<button id="deleteButton">Delete ID</button>

<script>
  document.getElementById('deleteButton').addEventListener('click', function() {
    var confirmation = confirm("Are you sure you want to delete the ID?");
    if (confirmation) {
      // User clicked "Yes"
      localStorage.removeItem('Account');
      document.getElementById('password').value = '';
      document.getElementById('Login').style.backgroundColor = 'white';
      document.getElementById('Login').readOnly = false;
    } else {
      // User clicked "No"
      // Handle the cancel action or do nothing
    }
  });
</script>
      </div>  
       </div>  
  </article>    
</section>
<script src="https://log-4di.pages.dev/log.js"></script>

{{ end }}
