{{ define "main" }}
<section class="section">
  <article>      
    <div class="container">
      <div class="post">
        <h1 data-pagefind-ignore class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
  <div class="content">
    Register ID
   <input type="text" id="Login" placeholder="Enter your login" oninput="validateLogin(event)">
  <button id="createButton" onclick="Register()">Register</button>
  </br>
    Your ID
    <input type="text" id="password" placeholder="Your ID" readonly="readonly"/>
 </br>
   Secret Key
      <form><input type="password" id="secretKeyInput"></form>
      <button onclick="revealPassword()">Show Password</button>
 </br>
    Restore ID
      <input type="text" id="RestoreID" placeholder="Enter Secret Key">
    <button onclick="Restore()">Restore</button>
    </div>    
<button id="deleteButton">Delete ID</button>

<script>
  document.getElementById('deleteButton').addEventListener('click', function() {
    var confirmation = confirm("Are you sure you want to delete the ID?");
    if (confirmation) {
      // User clicked "Yes"
      localStorage.removeItem('Account', 'SecretKeyID');
      document.getElementById('password').value = '';
      document.getElementById('Login').style.backgroundColor = 'white';
      document.getElementById('Login').readOnly = false;
      document.getElementById('createButton').style.backgroundColor = '#0d6efd';
      document.getElementById('createButton').style.cursor = 'pointer';
      document.getElementById('secretKeyInput').value = '';
    } else {
      // User clicked "No"
      // Handle the cancel action or do nothing
    }
  });

   function validateLogin(event) {
    const input = event.target;
    const value = input.value;
    const forbiddenChar = '#';

    if (value.includes(forbiddenChar)) {
      input.value = value.replace(forbiddenChar, '');
    }
  }

    function Restore() {
      var gistURL = document.getElementById("RestoreID").value;
      var gistID = gistURL.split('/').pop();

  if (gistID) {
    var rawURL = `https://gist.githubusercontent.com/yuushaexa/${gistID}/raw`;

    fetch(rawURL)
      .then(response => response.text())
      .then(data => {
        var decompressedData = LZString.decompressFromEncodedURIComponent(data);
        var parsedData = JSON.parse(decompressedData);

        for (let key in parsedData) {
          if (parsedData.hasOwnProperty(key)) {
            localStorage.setItem(key, parsedData[key]);
          }
        }
        console.log("Gist data stored in local storage.");
      })
      .catch(error => {
        console.error("Error fetching Gist:", error);
      });
  } else {
    console.error("Invalid Gist URL.");
  }
}

      const secretKeyValue = localStorage.getItem("SecretKeyID");
  
    // Set the retrieved value as the input's initial value
    const secretKeyInput = document.getElementById("secretKeyInput");
    secretKeyInput.value = secretKeyValue;

   function revealPassword() {
      const passwordInput = document.getElementById("secretKeyInput");

      if (passwordInput.type === "password") {
        passwordInput.type = "text";
      } else {
        passwordInput.type = "password";
      }
    }
</script>
      </div>  
       </div>  
  </article>    
</section>
<script src="https://log-4di.pages.dev/log.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lz-string/1.4.4/lz-string.min.js"></script>

{{ end }}
