{{ define "main" }}
<section class="section">
  <article>      
    <div class="container">
      <div class="post">
        <h1 data-pagefind-ignore class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
  <div class="content-new">
        <div class="columns is-multiline">
<h2>Registration Form</h2>
<form id="registrationForm">
  <label for="registrationName">Name:</label>
  <input type="text" id="registrationName" name="name" required><br><br>
  <label for="registrationEmail">Email:</label>
  <input type="email" id="registrationEmail" name="email" required><br><br>
  <label for="registrationPassword">Password:</label>
  <input type="password" id="registrationPassword" name="password" required><br><br>
  <button type="submit">Register</button>
</form>
<h2>Fast Registration</h2>
<form id="registrationFormNick">
  <label for="nickname">Nickname:</label>
  <input type="text" id="nickname" name="nickname" required><br><br>
  <label for="password">Password:</label>
  <input type="password" id="password" name="password" required><br><br>
  <button type="submit">Register</button>
</form>
          <h2>Login</h2>
<form id="loginForm">
  <label for="loginEmail">Email/Nickname:</label>
  <input type="text" id="loginEmail" name="email">
  <br>
  <label for="loginPassword">Password:</label>
  <input type="password" id="loginPassword" name="password" required>
  <br>
  <button type="submit">Login</button>
</form> 

 <h2>Set/Update Email Address</h2>
<form id="updateEmailForm">
  <label for="newEmail">New Email Address:</label>
  <input type="email" id="newEmail" name="newEmail" required>
  <button type="submit">Update Email</button>
</form>

<div id="googleSignInButton">Google</div>
  <button onclick="handleRelink()">Relink User Account</button>

  
          <div id="buttonaccount">
            <button id="cloudsave">Save to Firebase Storage</button>
          <button id="loadcloudsave">Load Cloud Save</button>
<button id="logout">Logout</button>
            <button id="deleteAccount">Delete Account</button>
   <button id="deletesaved">Delete Save Data</button>
               <button id="resetpassword">Reset Password (email only)</button>
          </div>

<button id="CloudSave">Cloud Save</button>
<p id="lastsaveddata"></p>
          <button id="LoadCloud">Cloud Load</button>

  
            <button onclick="toggleScriptActivation()">Toggle Auto Save</button>
<label class="switchbutton">
  <input type="checkbox">
  <span class="sliderbutton"></span>
  <span class="labeloff">Off</span>
  <span class="labelon">On</span>
</label>

<script>

  // REGISTER
  
// Get a reference to the registration form element
const registrationForm = document.getElementById('registrationForm');

// Add a submit event listener to the form
registrationForm.addEventListener('submit', (e) => {
  e.preventDefault();

  // Retrieve the form input values
  const name = registrationForm.name.value;
  const email = registrationForm.email.value;
  const password = registrationForm.password.value;

  // Create an object with the user data
  const userData = {
    username: name,
    email,
    password
  };

  // Send a POST request to the /register endpoint
  fetch('https://testvercel-gamma-seven.vercel.app/register', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify(userData)
  })
.then((response) => {
    if (response.ok) {
      console.log('User registered successfully');
      // Redirect to the desired page
    } else {
      console.error('Username already exists');
    }
  })
  .catch((error) => {
    console.error('Registration failed:', error);
    // Handle the error or display an error message to the user
  });
});

  // LOGIN

document.getElementById('loginForm').addEventListener('submit', (event) => {
  event.preventDefault(); // Prevent the default form submission

  const email = document.getElementById('loginEmail').value;
  const password = document.getElementById('loginPassword').value;

  const userDataLogin = {
    email,
    password
  };

  fetch('https://testvercel-gamma-seven.vercel.app/login', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify(userDataLogin)
  })
    .then((response) => {
      if (response.ok) {
        // Successful login
        alert('Login successful');
        // Redirect to a new page or perform any additional actions
      } else {
        // Error occurred during login
        response.text().then((errorMessage) => {
          alert(`Login failed: ${errorMessage}`);
        });
      }
    })
    .catch((error) => {
      // Network error or other exception
      alert(`An error occurred during login: ${error.message}`);
    });
});
</script>
     </div>
    </div>     </div>   </div>  
  </article>    
</section>
{{ end }}
