{{ define "main" }}
<section class="section">
  <article>      
    <div class="container">
      <div class="post">
        <h1 data-pagefind-meta="title" class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
        <div class="category">
          {{ range $idx, $category := .Params.categories }}
          {{- if ne $idx 0 }}, {{ end }}<a href="{{ "categories/" | relURL }}{{ $category | urlize }}">{{ $category }}</a>
          {{- end }}
                    <div class="tags">
                    {{ range $idx, $tag := .Params.tags }}
          {{- if ne $idx 0 }}, {{ end }}<a href="{{ "tags/" | relURL }}{{ $tag | urlize }}">{{ $tag }}</a>
          {{- end }}
                      </div>
    </div>
        <div class="cover-wrap"></div>
        <div class="cover"></div>
        <div id="load-img">Images</div>
  <div class="content">
          {{ .Content }}
        </div>
              <div class="game-links">
                {{ partial "widgets/game-links.html" . }}
                </div> 
            <div class="ai">
                {{ partial "widgets/ai.html" . }}
                </div> 
      </div>
    </div>
     <h1>{{ .Title }}</h1>
</section>
<section class="section">
  <div class="columns is-centered">
    <div class="column max-800px">
      <div class="columns is-mobile">
        <div class="column has-text-left">
          {{ with .PrevInSection }}
          <p>Previous post</p>
          <a href="{{ .Permalink }}">{{ .Title }}</a>
          {{ end }}
        </div>
        <div class="column has-text-right">
          {{ with .NextInSection }}
          <p>Next post</p>
          <a href="{{ .Permalink }}">{{ .Title }}</a>
        {{ end }}
        </div>
      </div>
    </div>
  </div>   
 <script defer src="/js/posts.js"></script>
   <script defer src="/js/test.js"></script>
</section>
     <!-- Related -->
    <div class="pagination__title">
      <span class="pagination__title-h">{{ .Site.Params.relatedTitle | default "Related"}}</span>
      <hr />
    </div>

    {{ partial "related.html" . }}
    <!-- /Related -->
{{ end }}
