{{ define "main" }}
<section class="section">
  <article data-pagefind-body>      
    <div class="container">
      <div class="post">
        <h1 data-pagefind-meta="title" class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
    <div id="tags">
                {{ partial "widgets/tags.html" . }}
                </div> 
    </div>
        <div class="cover-wrap">
        <div class="cover"></div></div>
  <div class="content">
          {{ .Content }} 
     <div class="cover-front">
         <img src="https://wsrv.nl/?url={{ .Params.image }}&output=webp&maxage=1d&w=200&h=300&fit=cover&a=attention" alt="" crossorigin="anonymous">
       </div>
        </div>
              <div class="game-links" data-pagefind-ignore>
                {{ partial "widgets/game-links.html" . }}
                </div> 
            <div class="ai" data-pagefind-ignore>
                {{ partialCached "widgets/ai.html" . }}
                </div> 
            <div id="GBinfo" data-pagefind-ignore class="tabcontent">
                {{ partial "widgets/gameinfo.html" . }}
                </div> 
         <div id="ReviewsReddit" data-pagefind-ignore>
                {{ partial "widgets/reviews.html" . }}
                </div> 
        <div class="media" data-pagefind-ignore>

          {{ if ( gt ( len .Images ) 7 ) }}
{{ range .Params.imagez }}
<img data-src="https://wsrv.nl/?url={{ . }}&output=webp&maxage=1d&w=200" alt="" crossorigin="anonymous" class="lazyload" >
 {{ end }}
          {{ else }}
{{ .Params.imagez }}
 {{ end }}
   
                </div> 
        <div id="screenshots" data-pagefind-ignore>
                {{ partial "widgets/screenshots.html" . }}
                </div> 
    </div>      
  <div class="columns is-centered">
    <div class="column max-800px">
      <div class="columns is-mobile">
        <div class="column has-text-left">
          {{ with .PrevInSection }}
          <p>Previous post</p>
          <a href="{{ .Permalink }}">{{ .Title }}</a>
          {{ end }}
        </div>
        <div class="column has-text-right">
          {{ with .NextInSection }}
          <p>Next post</p>
          <a href="{{ .Permalink }}">{{ .Title }}</a>
        {{ end }}
        </div>
      </div>
    </div>
  </div>   

     <!-- Related -->
    <div class="pagination__title">
      <span class="pagination__title-h">{{ .Site.Params.relatedTitle | default "Related"}}</span>
      <hr />
    </div>

    {{ partial "related.html" . }}
    <!-- /Related -->

 <script defer src="/js/posts.js"></script>
   <script defer src="/js/test.js"></script>
</section>
{{ end }}
