<footer class="footer">
    <div class="container">
        <div class="columns has-text-centered">
            {{ range .Site.Menus.footer }}
            <div class="column is-narrow">
                <a href="{{ .URL }}" class="">{{ .Name }}</a>
            </div>
            {{ end }}
        </div>
    </div>
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
           <link href="/pagefind/pagefind-ui.css" rel="stylesheet">
        <script src="/pagefind/pagefind-ui.js" type="text/javascript"></script>
             <script src="https://cdnjs.cloudflare.com/ajax/libs/color-thief/2.3.0/color-thief.min.js"></script>
                 <script src="https://cdnjs.cloudflare.com/ajax/libs/tinycolor/1.4.1/tinycolor.min.js"></script>

    <script>
    function handleButtonClick() {
  var scriptElement = document.createElement('script');
  scriptElement.src = '/js/lightboxAI.js';
  document.head.appendChild(scriptElement);
}

        document.getElementById('myButton').addEventListener('click', handleButtonClick);
    </script>

<link defer rel="stylesheet" href="/css/lightboxAI.css"/> 
    
    <script>
window.addEventListener('DOMContentLoaded', (event) => {

    pagefind = new PagefindUI({
        element: "#search",
        baseUrl: "/",
    });

    const urlParams = new URLSearchParams(window.location.search);
    const q = urlParams.get('q');
    if(q){
        setTimeout(function(){
            console.log('Searching:'+q);
            pagefind.triggerSearch(q);
        }, 1000);
    }

});
</script>

<script src="
https://cdn.jsdelivr.net/npm/lazysizes@5.3.2/lazysizes.min.js
"></script>
    <script defer src="/js/all.js"></script>
</footer>
