<footer class="footer">
    <div class="container">
        <div class="columns has-text-centered">
            {{ range .Site.Menus.footer }}
            <div class="column is-narrow">
                <a href="{{ .URL }}" class="">{{ .Name }}</a>
            </div>
            {{ end }}
        </div>
    </div>
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
           <link href="/pagefind/pagefind-ui.css" rel="stylesheet">
        <script src="/pagefind/pagefind-ui.js" type="text/javascript"></script>
             <script src="https://cdnjs.cloudflare.com/ajax/libs/color-thief/2.3.0/color-thief.min.js"></script>
                 <script src="https://cdnjs.cloudflare.com/ajax/libs/tinycolor/1.4.1/tinycolor.min.js"></script>
    
            <script defer src="/js/fancybox.js"></script>
<link defer rel="stylesheet" href="/css/fancybox.css"/> 
    
    <script>
    window.addEventListener('DOMContentLoaded', (event) => {
        new PagefindUI({ element: "#search" });
    });
</script>
    <script>      
function observeForInfiniteScroll() {
  let nextPageObserver = new IntersectionObserver((entries, observer) => {
    /* This is the callback function */
    let firstEntry = entries[0]; // I'm not using multiple thresholds, so 0 suffices
    if (firstEntry.isIntersecting) { // Basically if the footer is in view, run
      if (!document.querySelector(".paginator-next-page")) {
        observer.disconnect(); // Stop the observer when there's no more pages
        console.log("pagination: IntersectionObserver disconnected!");
      }
      else loadNextListPage();
    }
  }, {
    rootMargin: "0px 0px 80px 0px"
  });
  nextPageObserver.observe(document.querySelector(".icon-attribution"));
}
if (("IntersectionObserver" in window) && ("fetch" in window)) {
  console.log("pagination: IntersectionObserver and Fetch API available")
  addLoadEvent(observeForInfiniteScroll);
}
   </script> 

    <script defer src="/js/all.js"></script>
</footer>
