<header>
    <nav class="navbar" role="navigation">
        <div class="container">
            <div class="navbar-brand">
                <a href="/" title="home" class="navbar-item">
                    <span class="logo"><h1>{{ .Site.Title }}</h1></span>
                </a>               
                <a href="/account" title="about" class="navbar-item">Account</a>  
                <a href="/categories" title="categories" class="navbar-item">Categories</a>  
                <a href="/favorites" title="favorites" class="navbar-item">Favorites</a>  
              <a href="/register" title="Register" class="navbar-item">Register</a>  
                <a href="/search" title="search" class="navbar-item">Search</a>  
                <a href="/snes" title="snes" class="navbar-item">SNES</a>  
            </div>
        </div>
    </nav>
</header>
