        <div class="sidebar-left">
            <ul>
                <li><a href="/">Home</a></li>
          <li>
  <a href="/favorites/">Favorites</a><p id="totalCount"></p>
</li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
                        <li>
  <a href="/history/">History</a><div id="HistoryCount"></div>
</li>
            </ul>
<button id="toggleupdate" onclick="toggleLiveUpdates()">Toggle Live Updates</button>
                <div id="Activity1"></div>
<div id="cardContainer1"></div>
</div>
