{{- /* Initialize constants. */}}
{{- $section := . }}

{{- /* Get data. */}}
{{- $data := site.Data.snesdbt }}

{{- /* Write content page. */}}
{{- range $data }}
  {{- $content := ".Description", ".Images" }}
  {{- $title := .Name }}
  {{- $frontMatter := dict
    "date" .Date
    "description" .Description
    "title" .Name
    "cover" .img
  }}
  {{- $filename := printf "%s.md" (urlize $title) }}
  {{- $targetPath := path.Join site.LanguagePrefix $section $filename }}
  {{- $s := printf "%s\n\n%s\n" (jsonify (dict "indent" "  ") $frontMatter) $content }}
  {{- $r := $s | resources.FromString $targetPath }}
  {{- $r.Publish }}
{{- end -}} 
