{{- /* Initialize constants. */}}
{{- $section := slice "games" }}

{{- /* Get data. */}}
{{- $data := site.Data.games }}

{{- /* Write content page. */}}
{{- range $data }}
{{- $content := .name }}
  {{- $name := .name }}
  {{- $frontMatter := dict
    "description" .description
     "genres" .genres
     "title" .name
     "releasedates" .release_dates
     "storyline" .storyline
     "summary" .summary
      "screenshots" .screenshots
  "cover" .cover
"platforms" .platforms
"collections" .collections
"first_release_date" .first_release_date
"franchise" .franchise

  }}
  {{- $filename := printf "%s.md" (urlize $name) }}
  {{- $targetPath := path.Join site.LanguagePrefix $section $filename }}
  {{- $s := printf "%s\n\n%s\n" (jsonify (dict "indent" "  ") $frontMatter) $content }}
  {{- $r := $s | resources.FromString $targetPath }}
  {{- $r.Publish }}
{{- end -}} 
