{{ define "main" }}
<section class="section">
  <article data-pagefind-body>  
    <div class="container">
      <div class="post">
        <h1 data-pagefind-meta="title" class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>

{{ range .Params.games }}
    {{ .name }}
{{ end }}
        
      

          {{ .Content }} 
        </div>

         
    </div>      
  <div class="columns is-centered">
    <div class="column max-800px">
      <div class="columns is-mobile">
        <div class="column has-text-left">
          {{ with .PrevInSection }}
          <p>Previous post</p>
          <a href="{{ .Permalink }}">{{ .Title }}</a>
          {{ end }}
        </div>
        <div class="column has-text-right">
          {{ with .NextInSection }}
          <p>Next post</p>
          <a href="{{ .Permalink }}">{{ .Title }}</a>
        {{ end }}
        </div>
      </div>
    </div>
  </div>   

<section class="section">
    <div class="columns is-centered">
        <div class="column max-800px">
                <h3>Related content</h3>
            <div class="columns">
{{ $related := .Site.RegularPages.Related . | first 3 }}
                {{ range $related }}
                <div class="column is-one-third">
                    {{ partial "widgets/post-card.html" . }}
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</section>

 <script defer src="/js/posts.js"></script>
   <script defer src="/js/test.js"></script>
</section>
{{ end }}
