<!-- Create the paginator before it's used -->
{{- $paginator := .Paginate .Site.RegularPages -}}

<!-- Previous page link; hide if there is no previous page -->
{{- if .Paginator.HasPrev -}}
  <a class="paginator-previous-page" href="{{ .Paginator.Prev.URL }}">Previous</a>
{{- end -}}

<!-- Iterate over all pages -->
<div class="all-entries">
  {{- range $paginator.Pages -}}
    <!-- Do however you wish to display individual pages -->
  {{ end }}
</div>

<!-- Next page link; hide if there is no next page -->
{{- if .Paginator.HasNext -}}
  <a class="paginator-next-page" href="{{ .Paginator.Next.URL }}">Next</a>
{{- end -}}
