{{ $permalink := .Permalink }}

<div class="card">
            <a class="card-image" href="{{ $permalink }}">  
                          <img data-src="https://wsrv.nl/?url={{ .Params.image }}&output=webp&maxage=1d&w=200&h=300&fit=cover&a=attention" alt="" crossorigin="anonymous" class="lazyload" >
            </img>
    </a>
            <div class="card-content">
<a class="category" href="/categories/{{ index .Params.categories 0 | urlize}}">{{ index .Params.categories 0 }}</a>
<span class="toggleButton">
  <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
    <path d="m480-120-58-52q-101-91-167-157T150-447.5 95.5-544 80-634q0-94 63-157t157-63q52 0 99 22t81 62q34-40 81-62t99-22q94 0 157 63t63 157q0 46-15.5 90T810-447.5 705-329 538-172l-58 52z"></path>
  </svg>
</span>
                        <a class="title is-4">{{ .Title }}</a>
    </div>  
</div>
