{{ $permalink := .Permalink }}     
<div class="card">
            <span id="ratingNumber"></span>
            <a class="card-image" href="{{ $permalink }}">  
                          <img data-src="https://wsrv.nl/?url=https://images.igdb.com/igdb/image/upload/t_1080p/{{ .Params.cover.image_id }}.jpg&output=webp&maxage=1d&w=200&h=300&fit=cover&a=attention" alt="" crossorigin="anonymous" class="lazyload" >
            </img>
    </a>
            <div class="card-content">
<a class="category" href="/platform/{{ index .Params.platform 0 | urlize}}">{{ index .Params.platform 0 }}</a>
<a class="genres" href="/genres/{{ range .Params.genres }}{{ .name }}{{ end }}">{{ range .Params.genres }}{{ .name }}{{ end }}</a>                          
<a class="developer" href="/developer/{{ index .Params.developer 0 | urlize}}">{{ index .Params.developer 0 }}</a>
<a class="year" href="/year/{{ index .Params.year 0 | urlize}}">{{ index .Params.year 0 }}</a>
                        <button class="AddList">Add List</button>
                        <div class="rating-menu2"></div>
                        <a class="title is-4">{{ .Title }}</a>
    </div>  
</div>

