{{ $firstWord := index (split .Title " ") 0 }}
{{ $relatedPosts := where .Site.RegularPages "Type" "==" "post" }}
{{ $relatedPosts = where $relatedPosts "and" (where $relatedPosts "Params" "firstWord" "==" $firstWord) }}
{{ $relatedPosts = first 5 $relatedPosts }}

{{ if $relatedPosts }}
  <div class="first-word-widget">
    <h3>Related Posts</h3>
    <ul>
      {{ range $relatedPosts }}
        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
      {{ end }}
    </ul>
  </div>
{{ end }}
