{{- $posts := where .Site.RegularPages "Type" "in" (slice "post") -}}
{{- $filteredPosts := slice -}}
{{- $targetWords := slice -}}

{{- range $posts -}}
    {{- $targetWord := index (split .Title " ") 0 -}}
    {{- $targetWords = $targetWords | append $targetWord -}}
    {{- $filteredPosts = $filteredPosts | append . -}}
{{- end -}}

{{- $targetWords = $targetWords | uniq -}}

{{- range $targetWords -}}
    {{- $currentWord := . -}}
    <h2>{{ $currentWord }}</h2>

    {{- $currentPosts := where $filteredPosts "Title" (printf "^%s" $currentWord) -}}
    {{- range $currentPosts -}}
        <div>
            <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
            <p>{{ .Summary }}</p>
        </div>
    {{- end -}}
{{- end -}
