<script>
// Get the "History" values from localStorage
var historyValues = localStorage.getItem("History");
if (historyValues) {
  // Convert the string to an array of objects
  var historyArray = JSON.parse(historyValues);

  // Sort the array by timestamp in descending order
  historyArray.sort(function(a, b) {
    return b.dateAdded - a.dateAdded;
  });

  // Get the 5 latest values or less if there are fewer than 5
  var latestValues = historyArray.slice(0, 5);

  // Get the element with the ID "RecentlyViewed"
  var recentlyViewed = document.getElementById("RecentlyViewed");

  // Iterate through the latest values and create the elements
  latestValues.forEach(function(data) {
    var cardImageLink = document.createElement("a");
    cardImageLink.classList.add("card-image");
    cardImageLink.href = data.href;

    var cardImage = document.createElement("img");
    var wrappedImageURL =
      "https://wsrv.nl/?url=" +
      encodeURIComponent(data.image) +
      "&output=webp&maxage=1d&w=200&h=300&fit=cover&a=attention";
    cardImage.src = wrappedImageURL;
    cardImage.alt = "";
    cardImage.crossOrigin = "anonymous";
    cardImage.classList.add("lazyload");
    cardImage.setAttribute("data-src", data.wrappedImageURL);

    cardImageLink.appendChild(cardImage);

    var cardContent = document.createElement("div");
    cardContent.classList.add("card-content");

    var titleLink = document.createElement("a");
    titleLink.classList.add("title", "is-4");
    titleLink.textContent = data.title;

    cardContent.appendChild(titleLink);

    var card = document.createElement("div");
    card.classList.add('card');
    card.appendChild(cardImageLink);
    card.appendChild(cardContent);

    recentlyViewed.appendChild(card);
  });
}
</script>
