{{ $t := .Title }}

{{ $snraw := site.Data.snesrawg }}
{{ range $snraw | uniq }}
 {{ if eq .Name $t }}
<div class="Platforms">Platforms:
{{ .Platforms }}
</div>
Date: {{ .Date }} 
{{ range .Images }}
<img data-src="https://wsrv.nl/?url={{ . }}&output=webp&maxage=1d&w=200" alt="" crossorigin="anonymous" class="lazyload" >
  {{ end }}
  {{ end }}
{{ end }}

{{ $snesdb := site.Data.snesdb }}
{{ range $snesdb | uniq }}
 {{ if eq .Name $t}}
 {{ .Description }}
{{ if ( gt ( len .Images ) 3 ) }}
{{ range .Images }}
<img data-src="https://wsrv.nl/?url={{ . }}&output=webp&maxage=1d&w=200" alt="" crossorigin="anonymous" class="lazyload" >
 {{ end }}
{{ else }}
{{ .Images }}
 {{ end }}
  {{ end }}
  {{ end }}

 {{ with .Resources.GetMatch "cover.*" }}
    {{ with .Fill "300x200 webp" }}
      <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt="">
    {{ end }}
