{{ $t := .Title }}

{{ $snraw := site.Data.snraw }}
{{ range $snraw }}
 {{ if eq .Name $t}}
 {{ .Platforms }}
 {{ .Date }}
{{ $q := index site.Data.snraw }}
{{ with $q }}                                                       
    {{ range .Images }}                                              
        {{ . }}                                                     
    {{ end }}                                                       
{{ end }}
  {{ end }}
  {{ end }}


{{ $sngdb := site.Data.sngdb }}
{{ range $sngdb }}
 {{ if eq .Name $t}}
 {{ .Description }}
{{ .Images }}
  {{ end }}
  {{ end }}
