{{ $t := .Title }}

{{ $yt := site.Data.youtube }}
{{ range $key, $value := $yt }}
{{ if eq $key $t }}
{{ $timestamp := "" }}
{{ range $value }}
{{ if eq $timestamp "" }}
{{ $timestamp = .timestamp }}
<div class="yttimestamp">
Timestamp: {{ .timestamp }}
  </div>
{{ else }}
<div class="video-list">
<div class="yttitle">
{{ .title }}
</div>
<div class="ytdate">
Date: {{ .publishedTimeText }}
  </div>
  <div class="ytimage">
<img src="https://i.ytimg.com/vi/{{ .videoId }}/0.jpg"/>
    </div>
  </div>
{{ end }}
{{ end }}
{{ end }}
{{ end }}
